/* Общие стили для всего проекта */
.container-fluid {
    max-width: 1700px;
}
body {
    background: black;
    overflow-x: hidden;
    height: auto;
}

/* Бургер-меню */
.burger-menu {
    position: relative;
}

.burger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.menu-container {
    display: block;
}

/* навигационное меню */
.nav-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 300;
}

/* Стиль для ссылок */
.nav-link {
    padding: 10px 15px;
    color: white;
    position: relative;
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Псевдоэлемент для подчёркивания */
.nav-link:not(:has(img))::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #F88005;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:first-child::after {
    text-decoration: none;
}

/* Эффект при наведении */
.nav-link:hover {
    color: #F88005;
}

.nav-link:hover::after {
    left: 20%;
    width: 60%;
}

a {
    text-decoration: none;
}

/* текст главной страницы (заголовок) */
.wood-text {
  color: #F88005;
}



@media (max-width: 768px) {
    .game-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .game-card {
        flex: 0 0 100%;
    }
}

/* Регистрация шрифтов */
/* Mont Font */
@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/mont_extralightdemo.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/mont_heavydemo.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/Mont-ExtraLightDEMO.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/Mont-HeavyDEMO.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


/* Unbounded Font */
@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Black.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Bold.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-ExtraLight.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Light.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Medium.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Regular.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Variable.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
/* Медиа-запросы */
@media (max-width: 1040px) {
    .burger-icon {
        display: flex;
    }

    .menu-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        overflow-y: auto;
    }

    .menu-container.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-container .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu-container .col {
        margin: 10px 0;
    }

    .burger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

@media (max-width: 768px) {
    .game-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .game-card {
        flex: 0 0 100%;
    }
}
