/* Регистрация шрифтов */
/* Mont Font */
@font-face {
    font-family: 'Mont';
    src: url('/static/fonts/mont/mont_extralightdemo.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('/static/fonts/mont/mont_heavydemo.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Unbounded Font */
@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Black.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Bold.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-ExtraLight.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Light.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Medium.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Regular.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/static/fonts/unbounded/Unbounded-Variable.woff2') format('woff2'),
         url('/static/fonts/unbounded/Unbounded-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    background: black;
}

/* Стиль для логотипа */
.logo {
  width: 120px;
  height: 55px;
}

/* Стиль для меню */
.nav {
  position: relative;
  min-height: 45px;
  padding-top: 10px;
  padding-left: 0px;
}

/* Стиль для элементов меню */
.nav-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
}

/* Стиль для ссылок */
.nav-link {
    padding: 55px;
    color: white;
    position: relative;
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-weight: 300;
}

/* Псевдоэлемент для подчёркивания */
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #F88005;
    transition: width 0.3s ease, left 0.3s ease;
}

/* Исключение для логотипа */
.nav-item:first-child .nav-link::after {
    display: none;
}

/* Эффект при наведении */
.nav-link:hover {
    color: #F88005;
}

.nav-link:hover::after {
    left: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.photo1 {
    margin-left: 20px;
    width: 417px;
    border-radius: 31px;
    margin-top: 30px;
}

.photo2 {
    margin-left: 20px;
    width: 776px;
    height: 434px;
    border-radius: 31px;
    clip-path: polygon(0% 0%, 60% 0%, 60% 15%, 100% 15%, 100% 100%, 0% 100%);
    margin-bottom: 190px;
}
