/* Регистрация шрифтов */
/* Mont Font */
@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/mont_extralightdemo.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/mont/mont_heavydemo.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Unbounded Font */
@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Black.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Bold.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-ExtraLight.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Light.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Medium.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Regular.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/unbounded/Unbounded-Variable.woff2') format('woff2'),
         url('fonts/unbounded/Unbounded-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


body {
    background: black;
  overflow-x: hidden;
}


/* Бургер-меню */
.burger-menu {
    position: relative;
}


.burger-icon {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

.burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.menu-container {
    display: block;
}

@media (max-width: 1040px) {
    .burger-icon {
        display: flex;
    }

    .menu-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        overflow-y: auto;
    }

    .menu-container.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-container .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu-container .col {
        margin: 10px 0;
    }

    .burger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}


.nav-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 300;
}

/* Стиль для ссылок */
.nav-link {
    padding: 10px 15px; /* уменьшили паддинги */
    /* остальные стили оставляем без изменений */
    color: white;
    position: relative;
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Псевдоэлемент для подчёркивания */
.nav-link:not(:has(img))::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #F88005;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav-link:first-child::after {
    text-decoration: none;
}


/* Эффект при наведении */
.nav-link:hover {
    color: #F88005;
}

.nav-link:hover::after {
    left: 20%;
    width: 60%;
}   

h1 {
    text-align: center;
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wood-text {
  color: #F88005; 
}


#order-button {
    text-decoration: none;
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 30px;
    display: inline-block; /* Добавляем, чтобы ссылки вели себя как блочные элементы */
    width: 100%; /* Для мобильной версии, чтобы ссылки занимали всю ширину */
    background: #1A1A1A;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 0 20px; /* Добавлен отступ по бокам для текста */
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

#order-button:hover {
    /* кнопка немного опускается вниз */
    transform: translateY(5px);
    transition: transform 0.3s ease;
}

.col-4:nth-child(2) a#order-button {
    background: #F88005;
    color: #1A1A1A;
}


.item {
    margin-top: 20px;
    margin-left: 70px;
    text-align: left; /* Выравнивание текста по левому краю */
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Элементы в колонку */
    align-items: flex-start; /* Выравнивание по левому краю */
    max-width: 300px; /* Ограничиваем ширину блока */
    
}

.item:first-child p3 {
    margin-top: -5px; /* Поднимаем текст на 5 пикселей вверх */
}

/* Стили для изображений иконок */
.item img {
    width: 100px; /* или другой размер по вашему усмотрению */
    height: auto;
    margin-bottom: 10px; /* Отступ между иконкой и текстом */
}
/* Стили для заголовков */
.exclusive-text {
    display: block;
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 20px; /* или другой размер по вашему усмотрению */
    margin: 0; /* Убираем стандартные отступы */
    padding: 0;
}

/* Стили для описания */
p3 {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: auto;
    max-width: 250px; /* Устанавливаем максимальную ширину */
    line-height: 1.4; /* Увеличиваем межстрочный интервал для удобочитаемости */
}

/* блок с каруселью */
h2 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.product-card {
    height: 700px; /* или любое другое значение, которое вам подходит */
    display: flex;
}
.card-title {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.price {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
p2 {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.carousel-control-prev, .carousel-control-next {
    margin-bottom: 50px;
}
.carousel-control-prev {
    left: -180px !important;
}
.carousel-control-next {
    right: -180px !important;
}
#contact {
    background: #883535 !important;
}
@media (max-width: 768px) {
    h1 {
        font-size: 30px !important;
    }
    #order-button {
        width: auto;
        height: 120px;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .item {
        margin-left: 0px;
        margin-top: 30px;
        align-items: center;
        text-align: center;
    } 
    .exclusive-text {
    display: block;
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0; 
    padding: 0;
    }
    .carousel-control-prev, .carousel-control-next {
    margin-bottom: 30px;
    }
    .carousel-control-prev {
        left: -20px !important;
    }
    .carousel-control-next {
        right: -20px !important;
    }  
    p2 {
        font-size: 10px;
    }
    .card-title {
        font-size: 13px;
        white-space: nowrap;
        overflow: visible;

    }
    .price {
        font-size: 10px;
    }
}




