{% comment %} <footer class="footer-dark mt-auto">
<ul class="nav justify-content-center" style='display: flex;'>
  <li class="nav-item"> 
    <a class="nav-link" href="{% url 'landing' %}">
      <img class="logo" src="media/logo/logo.png" alt="logo" style='width: 100px;' >
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'landing' %}">О нас</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'landing' %}">Каталог игр</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'landing' %}">Аренда</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'landing' %}">Доставка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'landing' %}">Контакты</a>
  </li>
    <li class="nav-item">
  </li>
</ul>
      </footer> {% endcomment %}