
<!-- Бургер-меню для мобильных устройств -->
<div class="burger-menu">
  <div class="burger-icon" id="burgerIcon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-container" id="menuContainer">
    <div class="container" style="overflow-x: auto; padding: 10px 20px;">
      <div class="row g-4 flex-nowrap text-center" style="min-width: max-content;">
        <!-- Логотип -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">
            <img class="logo" src="media/logo/logo.png" alt="logo" style='width: 100px;'>
          </a>
        </div>
        <!-- О нас -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">О нас</a>
        </div>
        <!-- Каталог игр -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">Каталог игр</a>
        </div>
        <!-- Аренда -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">Аренда</a>
        </div>
        <!-- Доставка -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">Доставка</a>
        </div>
        <!-- Контакты -->
        <div class="col d-flex align-items-center justify-content-center">
          <a class="nav-link" href="{% url 'landing' %}">Контакты</a>
        </div>
      </div>
    </div>
  </div>
</div>
