/* Стили для страницы "О нас" */

/* контейнеры */
.container-fluid {
    max-width: 1800px;
}

/* стили для заголовка */
.about-title {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 180px;
    text-align: center;
    margin-top: 0px;
}
.wood-text-about {
    color: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 180px;
    text-align: center;
}
/* стили для описания */
.about-description {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin-top: 20px;
    text-align: justify !important;
    text-justify: inter-word !important;
    display: block;
    width: 100%;
}
.about-list {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}
/* стили для видео */
.video-container {
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 31px;
    border: 2px solid #000000ff;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}
/* второе видео */
.about-iframe {
    height: 100%;
    border-radius: 31px;
    border: 2px solid rgb(80, 77, 77);
}

/* 4 иконки ПОЧЕМУ ВЫБИРАЮТ НАС */
.item {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Стили для изображений иконок */
.item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* стили для 4 кнопок под видео */
#icon_about {
    background: #1A1A1A;
    border-radius: 31px;
    height: 250px;
    padding: 40px 40px;
    margin-left: 30px;
}

/* для 2 и 4 элемента */
#icon_about:nth-child(2)  {
    background: #F88005;
}
#icon_about:nth-child(2) h4,
#icon_about:nth-child(2) p {
    color: black !important;
}
/* заголовки 4 кнопок под видео */
h4 {
    font-family: "Unbounded", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.about-stat {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-size: 25px;
    font-weight: 300;
}

/* кнопка подробнее в новостях */
.news-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
}
.news-btn:hover {
    color: white;
    background: #F88005;
}
.news-btn:focus {
    color: white;
    background: #F88005;
}
/* кнопка оформления */
.btn-primary {
    display: flex;
    background: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.btn-primary:hover {
    transform: scale(1.05);
    outline: none;
    background: white;
    color: black;
}

/* блок с кнопкой оформления заказа */
.about-order {
    text-align: center;
    background: #F88005;
    border-radius: 31px;
    width: 50%;
    padding: 20px;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-bottom: 30px;
}
/* текст в блоке оформления */
h7 {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 1
}
/* текст в кнопке оформления */
.order-description {
    color: #000;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .item {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: auto;
    max-width: 250px;
    line-height: 1.4;
}
}

/* Адаптивность для блоков с иконками */
@media (max-width: 768px) {
    .item {
        margin-left: 0px;
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    .exclusive-text {
        font-size: 14px;
    }
}

/* модальное окно с новостями */
.event-modal .modal-content {
    background-color: transparent;
    border: none;
}

.event-modal .modal-header {
    border-bottom: none;
    padding: 0;
}

.event-modal .modal-body {
    padding: 0;
    background-color: transparent;
}

.event-modal .modal-footer {
    border-top: none;
    padding: 0;
    justify-content: center;
}

.event-modal .modal-dialog {
    max-width: 90%;
    margin: 5rem auto;
}

/* Кастомные кнопки управления каруселью */
.event-modal .carousel-control-prev,
.event-modal .carousel-control-next {
    width: 40px;
    height: 80px;
    background: none;
    border: none;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
}

.event-modal .carousel-control-prev {
    left: 150px;
    background-image: url('/media/svg_files/arrow_down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
}

.event-modal .carousel-control-next {
    right: 150px;
    background-image: url('/media/svg_files/arrow_down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%) rotate(-180deg);
}

.event-modal .carousel-control-prev-icon,
.event-modal .carousel-control-next-icon {
    display: none;
}

.event-modal .carousel {
    width: 100%;
    max-height: 85vh;
}

.event-modal .carousel-inner {
    height: 100%;
}

.event-modal .carousel-item {
    height: 100%;
}

.event-modal .carousel-item img {
    object-fit: contain;
    max-height: 80vh;
    width: 100%;
}

.event-modal .modal-info {
    background-color: transparent;
    color: white;
    padding: 1rem;
    margin-top: -50px;
    position: relative;
    z-index: 10;
}

.event-modal .modal-info p {
    margin-bottom: 0.5rem;
}

.event-modal .btn-close {
    display: none !important;
}

.event-modal .modal-footer .btn-secondary {
    display: none;
}
/* Модальные окна */

.modal-content-about {
    background-color: transparent;
    color: white;
}

.modal-title-about {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.modal-body-about {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.modal-main-image {
  width: 100%; 
  border-radius: 31px;
}
/* Стили для изображений */
.additional-image-wrapper {
  height: 200px; 
  overflow: hidden; 
border: none !important;
  border-radius: 10px; 
}

/* Стили для изображений */
.additional-image {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
}
/* остальное  */
.custom-shadow {
    box-shadow: 0 10px 10px black;
}
p {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: start !important;
}
h5 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.hidden {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(.4,0,.2,1), visibility 0.5s linear;
}
h3 {
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.visible {
    display: block;
    visibility: visible;
    height: auto;
    overflow: visible;
}
