/* Стили для страницы "О нас" */
/* Use Bootstrap's gap utilities for spacing between columns */
.about-container .row {
    --bs-gutter-x: 2%;
}
/* стили для заголовка */
.about-title {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 160px;       
    text-align: center;
}
.wood-text-about {
    color: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 160px;
    text-align: center;
}
/* стили для описания */
.about-description {
    color: white;
    font-family: "Mont", sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: justify !important;
    text-justify: inter-word !important;
    display: block;
    width: 100%;
}
.about-list {
    color: white;
    font-family: "Mont", sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}
/* стили для видео */
.video-container {
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 31px;
    border: 2px solid #000000ff;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}
/* второе видео */
.about-iframe {
    width: 100%;
    height: 100%;
}
.about-iframe iframe {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    object-fit: cover;
}

/* 4 иконки ПОЧЕМУ ВЫБИРАЮТ НАС */
.item {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Стили для изображений иконок */
.item img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

/* стили для 4 кнопок под видео */
#icon_about {
    background: #1A1A1A;
    border-radius: 31px;
    height: 250px;
    padding: 40px 40px;
    margin-left: 30px;
}

/* для 2 и 4 элемента */
#icon_about:nth-child(2)  {
    background: #F88005;
}
#icon_about:nth-child(2) h4,
#icon_about:nth-child(2) p {
    color: black !important;
}
/* заголовки 4 кнопок под видео */
h4 {
    font-family: "Unbounded", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.about-stat {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
/* кнопка подробнее в новостях */
.news-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
}
.news-btn:hover {
    color: white;
    background: #F88005;
}
.news-btn:focus {
    color: white;
    background: #F88005;
}
/* кнопка оформления */
.btn-primary {
    display: flex;
    background: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.btn-primary:hover {
    transform: scale(1.05);
    outline: none;
    background: white;
    color: black;
}

/* блок с кнопкой оформления заказа */
.about-order {
    text-align: center;
    background: #F88005;
    border-radius: 31px;
    width: 50%;
    padding: 20px;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-bottom: 30px;
}
/* текст в блоке оформления */
h7 {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 1
}
/* текст в кнопке оформления */
.order-description {
    color: #000;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .item {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: auto;
    max-width: 250px;
    line-height: 1.4;
}
}

/* Адаптивность для блоков с иконками */
@media (max-width: 768px) {
    .item {
        margin-left: 0px;
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    .exclusive-text {
        font-size: 14px;
    }
}
