/* Стили для главной страницы */

/* контейнеры */
.container-fluid {
    max-width: 1600px;
}

/* левое фото */
.left-photo {
    border-radius: 31px;
}
/* текст поверх фото */
.text-photo {
    color: white;
    font-family: 'Mont', sans-serif;
    font-weight: 200;
    font-size: 50px;
}
/* фото в карусели */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 31px;
}
/* карточка в карусели */
.product-card {
    background: #000;
}

/* иконки контактов */
.contact-icon {
    margin-right: 15px;
}

/* ссылки */
a {
    text-decoration: none;
    color: white;
}

/* блок с контактами */
.contact-block {
    background: #1A1A1A;
    border-radius: 31px;
    height: 300px;
    width: 45%;
    margin-left: 35px;
    padding: 50px;
}
/* кнопка оформления заказа */
.btn-primary {
    display: flex;
    background: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Центрируем кнопку по горизонтали */
}

.btn-primary:hover {
    transform: scale(1.05);
    outline: none;
    background: white;
    color: black;
}

/* блок с кнопкой оформления заказа */
.landing-order {
    text-align: center;
    background: #F88005;
    border-radius: 31px;
    width: 50%;
    padding: 20px;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-bottom: 30px;
}

h7 {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 1
}
.order-description {
    color: #000;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
/* кнопки под фото */
.order-button {
    text-decoration: none;
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    width: 100%;
    background: #1A1A1A;
    height: 170px;
    min-height: 100px;
    border-radius: 30px;
    padding: 20px;
}

.order-button:hover {
    transform: translateY(5px);
    transition: transform 0.3s ease;
}

.col-4:nth-child(2) a.order-button {
    background: #F88005;
    color: #1A1A1A;
}
/* Элементы */

.item {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Стили для изображений иконок */
.item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Стили для описания */

@media (max-width: 768px) {
    .item {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: auto;
    max-width: 250px;
    line-height: 1.4;
}
}

/* Адаптивность для блоков с иконками */
@media (max-width: 768px) {
    .exclusive-text {
        font-size: 14px;
    }
}

/* Медиа-запросы */
@media (max-width: 768px) {
    .order-button {
        width: 190px;
        height: 100px;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 15px;
        padding: 20px;
    }
    #order-button-2 {
        background: #F88005;
    }
}

/* Стили для каталога игр */
.img-catalog {
    width: 400px;
    height: 100px;
    transform: translateY(-25px);
    transition: all 0.3s ease;
}

.img-catalog:hover {
    transform: translateY(-20px);
}

@media (max-width: 768px) {
    .img-catalog {
        width: 35vw !important;
        height: auto !important;
        transform: translateY(0) !important;
        position: absolute !important;
        margin-top: -10px !important;
        margin-right: -5px !important;
    }
}


/* текст в фото */
@media (max-width: 768px) {
    .text-photo {
        font-size: 30px !important;
    }
}