/* Стили для страницы детализации продукта */

/* основное изображение */
.main-image {
    width: 96%;
    height: 92%;
    object-fit: cover;
    border-radius: 31px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.no-growth {
    min-height: 890px; 
    max-height: 400px; 
    overflow-y: hidden;
}
/* название ИГРЫ*/
.product-title {
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* доп изображения */
.additional-image {
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 21px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;

}
/* кнопка подробнее у СМОТРИТЕ ТАКЖЕ */
.detail-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
}
.detail-btn:hover {
    color: white;
    background: #F88005;
}
.detail-btn:focus {
    color: white;
    background: #F88005;
}
/* для ценника */
.price { 
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* ссылка */
a {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none
}
.order-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 40%;
    height: 50px;
    transition: all 0.3s ease;
}
.order-btn:hover {
    color: white;
    background: #F88005;
}
.order-btn:focus {
    color: white;
    background: #F88005;
}
p {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

li {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    color: #F88005;
    height: 2px;
}

h6 {
    font-family: 'Unbounded', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

.p1 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#pd {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 26px;
}

#pd-button:hover {
    color: white;
}

.p2 {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

/* для допов*/
.additional_product_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.additional_product_card {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    width: auto;
}

.additional_product_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 15px;
}

.additional_product_card h3 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.additional_product_card p {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}


/* Стили для компонентов комплектации */
.kit-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

/* Первый элемент - 40% ширины */
.kit-item:nth-child(1) {
    flex: 0 0 calc(40% - 20px);
    box-sizing: border-box;
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    text-align: start !important;
}

/* Второй элемент - 30% ширины */
.kit-item:nth-child(2) {
    flex: 0 0 calc(30% - 20px);
    box-sizing: border-box;
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    text-align: start !important;
}

/* Третий элемент - 30% ширины */
.kit-item:nth-child(3) {
    flex: 0 0 calc(30% - 20px);
    box-sizing: border-box;
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    text-align: start !important;
}

/* Четвертый элемент - 40% ширины */
.kit-item:nth-child(4) {
    flex: 0 0 calc(40% - 20px);
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    text-align: start !important;
}

/* Пятый элемент - 60% ширины */
.kit-item:nth-child(5) {
    flex: 0 0 calc(60% - 20px);
    background: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    text-align: start !important;
}

/* Последний элемент (если это не пятый) */
.kit-item:last-child {
    background: #F88005;
}
.kit-item:last-child .highlighted-text {
    color: black;
}
.kit-item:last-child .normal-text {
    color: black;
}

.kit-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.highlighted-text {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
}

.normal-text {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
}

/* для правил и дополнительно */
.collapse-link {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 26px;
}
/* для стрелки при открытии скрытых блоков  */
.collapse-link img {
    margin-left: 20px;
    /* Поворачиваем изображение на 270 градусов по часовой стрелке */
    transform: rotate(270deg);
    transform-origin: center;
    /* Плавный переход для анимации */
    transition: transform 0.3s ease;
}

/* Для активного состояния (когда блок открыт) */
.collapse-link.active img {
    transform: rotate(90deg);
}

.custom-collapse p {
    margin-bottom: 10px;
    white-space: pre-line;
}

.custom-collapse ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.custom-collapse li {
    margin-bottom: 5px;
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* всплывающие блоки */
.custom-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%; 
    box-sizing: border-box;
}

.custom-collapse.show {
    max-height: none;
    height: auto;
    margin-bottom: 20px; 
}

/* СтилИ для контента внутри коллапсируемых блоков */
.custom-collapse > div {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.custom-collapse p {
    margin: 0 0 10px 0;
    white-space: pre-line;
    width: 100%;
}