/* Стили для страницы аренды */
.rental-calculator {
    margin-top: 50px;
}
h4 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 83px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wood-text {
    font-size: 83px;
}
.title-about {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin-top: 20px;
}

h2 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-size: 32px !important;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}
.funny-text {
    font-size: 32px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    margin-top: -10px !important;
}
.row {
    margin-top: -40px;
}
/* для белого инпута с гстями */
.input-guest {
    width: 200px !important;
    border-radius: 10px;
    background: white;
    height: 40px !important;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    border: none;
}

/* стили для подписи под ползунком  */
.slider-container {
    position: relative;
    margin-bottom: 20px;
}
.slider-label-start,
.slider-label-end {
    font-size: 25px !important;
}
.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.slider-label {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.slider-label-start {
    text-align: left;
}

.slider-label-end {
    text-align: right;
}

/* стили для ползунка */
.form-range {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin: 15px 0;
}
.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-moz-range-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #F88005 var(--value, 0%), #E0E0E0 var(--value, 0%));
    border-radius: 5px;
}

.form-range::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

.form-range::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
}

#guestCounts {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px !important;
    margin-left: 20px;
}

/* стили для видео */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 31px;
    border: 2px solid #000000ff;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}


/* кнопка подробнее в новостях */
.news-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 50px;
    transition: all 0.3s ease;
}
.news-btn:hover {
    color: white;
    background: #F88005;
}
.news-btn:focus {
    color: white;
    background: #F88005;
}
/* кнопка оформления */
.btn-primary {
    display: flex;
    background: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.btn-primary:hover {
    transform: scale(1.05);
    outline: none;
    background: white;
    color: black;
}

/* блок с кнопкой оформления заказа */
.about-order {
    text-align: center;
    background: #F88005;
    border-radius: 31px;
    width: 50%;
    padding: 20px;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-bottom: 30px;
}
h7 {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 1
}
.order-description {
    color: #000;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}


/* мобильная версия */
@media (max-width: 768px) {
    h4,
    .wood-text,
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 15px !important;
        margin-top: 0px !important;
        margin-bottom: 0 !important;
    }
    .title-about {
        font-size: 10px;
    }
    .video-container {
        margin-top: 20px;
        border-radius: 15px;
    }
    .rental-calculator {
        margin-top: 20px;
    }
    .input-guest {
        width: 70px !important;
        font-size: 15px !important;
        height: 30px !important;
        margin-top: -5px;
    }
    #guestCounts {
        font-size: 18px !important;
        margin-bottom: 20px !important;
        margin-left: 0px;
    }
    .funny-text {
        font-size: 15px;
        margin-top: 10px !important;
    }
    .slider-label-start,
    .slider-label-end {
    font-size: 15px !important;
}
.slider-container {
    width: 100%;
    /* центрирую */
    margin: 0 auto;
}
    /* блок оформления */
    .about-order {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 15px;
        padding: 10px;
        background: #F88005;
    }
    h7 {
        font-size: 20px;
    }
    .order-description {
        font-size: 12px;
    }
    .btn-primary {
        width: 80%;
        height: 40px;
        font-size: 15px;
        border-radius: 10px;
    }
    .game-card {
        margin-top: 0 !important;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-left: 10px !important;
        margin-bottom: 0 !important;
        min-height: auto;
    }
    .game-image {
        border-radius: 0px !important;
    }
}
