/* Стили для страницы аренды */
.container-fluid {
    max-width: 1600px;
}
h4 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 78px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.title-about {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 10px;
}
.order-text {
    color: black;
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-guest {
    border-radius: 10px;
    background: white;
    height: 50px;
    text-align: center;
    color: black;
    margin-top: 5px;
}

/* стили для ползунка */
.form-range {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #E0E0E0;
    border-radius: 5px;
}

.form-range::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #F88005;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7.5px;
}

.form-range::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #E0E0E0;
    border-radius: 5px;
}
#guestCounts {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

/* стили для видео */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 31px;
    border: 2px solid #000000ff;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

/* стили для карточек аренды */
.games-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.game-card {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 15px;
}

.game-card h3 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    flex-grow: 1;
}

.game-card p {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .game-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .game-card {
        flex: 0 0 100%;
    }
}


/* Модальные окна */

.modal-content-about {
    background-color: transparent;
    color: white;
}

.modal-title-about {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.modal-body-about {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.modal-main-image {
  max-height: 450px; 
  width: 100%; 
  border-radius: 31px;
}
/* Стили для изображений */
.additional-image-wrapper {
  height: 200px; 
  overflow: hidden; 
border: none !important;
  border-radius: 10px; 
}

/* Стили для изображений */
.additional-image {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
}
/* остальное  */
.custom-shadow {
    box-shadow: 0 10px 10px black;
}
p {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: start !important;
}
h5 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.hidden {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(.4,0,.2,1), visibility 0.5s linear;
}
h3 {
    color: #F88005;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.visible {
    display: block;
    visibility: visible;
    height: auto;
    overflow: visible;
}


/* кнопка подробнее в новостях */
.news-btn {
    color: black;
    background: #F88005;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
}
.news-btn:hover {
    color: white;
    background: #F88005;
}
.news-btn:focus {
    color: white;
    background: #F88005;
}
/* кнопка оформления */
.btn-primary {
    display: flex;
    background: white;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border: none;
    width: 50%;
    height: 50px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.btn-primary:hover {
    transform: scale(1.05);
    outline: none;
    background: white;
    color: black;
}

/* блок с кнопкой оформления заказа */
.about-order {
    text-align: center;
    background: #F88005;
    border-radius: 31px;
    width: 50%;
    padding: 20px;
    margin: 0 auto; /* Центрируем блок по горизонтали */
    margin-bottom: 30px;
}
h7 {
    color: black;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 1
}
.order-description {
    color: #000;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
