/* Карточки */
.product-card {
    background: black;
    margin: 0; /* Swiper контролирует отступы */
    width: 100%; /* Занимает всю ширину слайда */
    height: 100%; /* Занимает всю высоту слайда (если хотите одинаковую высоту) */
    display: flex;
    flex-direction: column; /* Для корректного размещения контента внутри */
}
/* фото в карусели аренды */
.card-img-top-2 {
    width: 80%;
    height: 80%;
}
/* фото в карусели каталога товаров */
.card-img-top {
  width: 100%; /* Картинка занимает всю ширину карточки */
  height: 500px; /* Картинка занимает всю высоту карточки */
  object-fit: cover; /* Сохраняем пропорции */
  display: block; /* Убирает нижний отступ у inline-элементов */
  /* border-radius: 0; */ /* Если нужен радиус, лучше применить к .product-card */
}
.card-body {
  flex-grow: 1; /* Заполняет оставшееся пространство */
  display: flex;
  flex-direction: column; /* Для корректного размещения текста и цены */
}
.card-title {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: -10px;
}
@media (max-width: 768px) {
    .card-img-top {
        width: 150px !important;
        height: 150px !important;
        border-radius: 31px;
    }
}
.price {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: -10px;
}
@media (max-width: 768px) {
    .card-title {
        font-size: 15px;
    }
    .price {
        font-size: 15px;
    }
}


.games-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.game-card {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 15px;
}

.game-card h3 {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    flex-grow: 1;
}

.game-card p {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.card-img-top {
    border-radius: 35px;
}

@media (max-width: 768px) {
    .game-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .game-card {
        flex: 0 0 100%;
    }
}
