/* Стрелки навигации по умолчанию */
.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }
}
/* для карусели class="carousel-control-prev" type="button" data-bs-target="#eventCarousel */

.carousel-control-prev,
.carousel-control-next {
    top: 40%;
}
