{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row flex-wrap:nowrap">
    <div class="col-5">
      <h1>О <span class="wood-text">НАС<span></h1>
        <video width="640" height="360" controls style='border-radius: 31px'>
        <source src="video.mp4" type="video/mp4"> <!-- Укажите путь к вашему файлу -->
        Ваш браузер не поддерживает элемент video.
        </video>
    </div>
    <div class="col-4">
      <p>
        BUL.K.A-PLAY - производительэксклюзивныхпроизводитель настольных игр изтвёрдых пород дерева. Мы объединяем ручную работу, надёжные материалы и оригинальные идеи, создавая игры, которые становятся украшением любого мероприятия или интерьера. Наши изделия востребованы как для семейного отдыха, так И для корпоративных предлагаем:событий.Мы<br>• продажу настольных игр с доставкой по всей России;<br>• аренду и сопровождение игр на мероприятиях любого масштабаот частных праздников до городских фестивалей.Выбирая BUL.K.A-PLAY, вы получаете продукт ВысокогокачестваИнадёжного партнёра для организацииярких событий.
      </p>
    </div>
    <div class="col-3">
      2 of 2
    </div>
  </div>
  <div class="row gap-2">
    <div class="col">
        <h2>500 +</h2>
        <p>проведённых мероприятий</p>
    </div>
    <div class="col">
        
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
</div>








{% endblock content %}