{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}">
{% endblock stylesheets %}
{% block content %}
{% include 'includes/modal_order.html' %}
<div class="container-fluid about-container mt-5">
  <div class="row flex-wrap:nowrap">
    <div class="col-5">
      <h1 class="about-title">О <span class="wood-text-about">НАС</span></h1>
      <div class="video-container">
        <iframe
            src="https://vkvideo.ru/video_ext.php?oid=-226618368&id=456239026&hd=2&"
            allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
            frameborder="0"
            allowfullscreen>
        </iframe>
      </div>  
    </div>
    <div class="col-4">
      <p class="about-description">
        BUL.K.A-PLAY - производитель эксклюзивных настольных игр из твёрдых пород дерева. Мы объединяем ручную работу, надёжные материалы и оригинальные идеи, создавая игры, которые становятся украшением любого мероприятия или интерьера. Наши изделия востребованы как для семейного отдыха, так и для корпоративных событий. Мы предлагаем:
      </p>
      <ul class="about-list">
        <li>продажу настольных игр с доставкой по всей России;</li>
        <li>аренду и сопровождение игр на мероприятиях любого масштаба от частных праздников до городских фестивалей.</li>
      </ul>
      <p class="about-description">
        Выбирая BUL.K.A-PLAY, вы получаете продукт высокого качества и надёжного партнёра для организации ярких событий.
      </p>
    </div>
    <div class="col-3">
      <iframe
          class="about-iframe"
          src="https://vk.com/video_ext.php?oid=-226618368&id=456239221&hd=2&"
          width="450"
          height="630"
          allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
          frameborder="0"
          allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row about-icons mt-5 ">
    <div class="col-3" id='icon_about'>
        <h4>500 +</h4>
<p class="about-stat">проведённых мероприятий</p>
    </div>
    <div class="col-2" id='icon_about'>
        <h4>18</h4>
<p class="about-stat">уникальных игр</p>
    </div>
    <div class="col-4" id='icon_about'>
        <h4>1000 +</h4>
<p class="about-stat">отправок по России</p>
    </div>
    <div class="col-2" id='icon_about'>
        <h4>3 +</h4>
<p class="about-stat">возраст игроков</p>
    </div>
  </div>
</div>

<div class='container-fluid about-why-choose mt-5'>
  <h2>ПОЧЕМУ НАС ВЫБИРАЮТ?</h2>
    <div class="row mt-5">
      <div class="col-md-3 col-6">
        <div class="item">
                  <img src="/media/svg_files/bones.svg" alt="фон" class='background-image-3'>
      <p><span class="exclusive-text">ЭКСКЛЮЗИВНЫЕ ИГРЫ</span></p>
<p class="item-description">в нашей коллекции есть игры,<br>аналогов которых нет на рынке</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="item">
                  <img src="/media/svg_files/star.svg" alt="фон" class='background-image-4'>
      <p><span class="exclusive-text">БРЕНДИРОВАНИЕ</span></p>
      <p class="item-description">возможно нанесение индивидуальной<br>гравировки</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="item">
                  <img src="/media/svg_files/hammer.svg" alt="фон" class='background-image-5'>
      <p><span class="exclusive-text">РУЧНАЯ РАБОТА</span></p>
      <p class="item-description">Собственное производство в<br>г. Красноярске</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="item">
                  <img src="/media/svg_files/truck.svg" alt="фон" class='background-image-6'>
      <p><span class="exclusive-text">ДОСТАВКА</span></p>
      <p class="item-description">Отправляем по всей<br>России</p>
        </div>
      </div>
    </div>
  </div>

<div class='container-fluid about-events mt-5'>
  <h2>МЕРОПРИЯТИЯ С BUL.K.A-PLAY</h2>
  <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for n in news %}
        {% if forloop.first %}
          <div class="carousel-item active">
            <div class="row">
        {% else %}
          {% if forloop.counter0|divisibleby:3 %}
            </div></div>
            <div class="carousel-item">
              <div class="row">
          {% endif %}
        {% endif %}

        <div class="col-4 col-md-4 mb-4">
          <div class="card h-100 product-card">
            <img class="card-img-top" src="{{ n.image.url }}" alt="{{ n.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ n.name }}</h5>
                <p class="mt-3">{{ n.date_event | date:"d.m.Y" }} в {{ n.date_event | date:"H:i" }}</p>
                <button type="button" data-bs-toggle="modal" data-bs-target="#eventModal{{ n.id }}" class="btn news-btn">Подробнее</button>
            </div>
          </div>
        </div>
<div class="modal fade" id="eventModal{{ n.id }}" tabindex="-1" aria-labelledby="eventModalLabel{{ n.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content-about">
      <div class="modal-body">
        <h5 class="modal-title-about" id="eventModalLabel{{ n.id }}">{{ n.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-about">
        <!-- Основное изображение новости -->
        <img src="{{ n.image.url }}" class="img-fluid modal-main-image mb-3" alt="{{ n.name }}">
        <!-- Дополнительные изображения новости -->
        <div class="row mt-3">
          {% for additional_image in n.additional_images.all %}
            <div class="col-md-4 mb-3">
              <div class="additional-image-wrapper">
                <img src="{{ additional_image.image.url }}" class="img-fluid additional-image" alt="Дополнительное изображение">
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Описание и дата -->
        <p class="mt-3">{{ n.description }}</p>
        <p class="mt-3">{{ n.date_event | date:"d.m.Y" }} в {{ n.date_event | date:"H:i" }}</p>
      </div>
    </div>
  </div>
</div>

        {% if forloop.last %}
            </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Элементы управления каруселью -->
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
</div>

<div class='container-fluid about-order mt-5'>
    <h7>ОФОРМИТЬ ЗАКАЗ</h7>
    <p class="order-description text-center">Заказать игру на нашем сайте можно в любой момент. Вы можете оформить заказ в любое удобное для вас время, и мы с радостью выполним его в кратчайшие сроки.</p>
    <a data-bs-toggle="modal" data-bs-target="#orderModal" class="btn btn-primary">ЗАПОЛНИТЬ ЗАЯВКУ</a>
</div>

{% endblock content%}
