{% extends "base.html" %}
{% load static %}
{% block title %}Каталог игр{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/game_catalog.css' %}">
{% endblock stylesheets %}
{% block content %}
{% include 'includes/modal_order.html' %}
<form method="get" class="form-inline">
  <div class="container-fluid game-catalog-header mt-5">
    <div class="row ms-auto">
      <div class="col-6">
        <h2>КАТАЛОГ ИГР</h2>
      </div>
<div class="col-3 search-container">
  <input type="text" name="search" class="form-control search-input" placeholder="Поиск..." value="{{ request.GET.search }}" style='color: white'>
</div>
      <div class="col-3">
        <select name="sort" class="form-control filter-select" onchange="this.form.submit()">
          <option value="">Порядок по:</option>
          <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Цена по возрастанию</option>
          <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Цена по убыванию</option>
          <option value="name_asc" {% if request.GET.sort == 'name_asc' %}selected{% endif %}>Название (А-Я)</option>
          <option value="name_desc" {% if request.GET.sort == 'name_desc' %}selected{% endif %}>Название (Я-А)</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container-fluid game-catalog-filters mt-4">
    <!-- First row with 2 filters for mobile -->
    <div class="row mobile-filters-row-1">
      <div class="col-md-2 col-6">
        <select name="size" class="form-control filter-select" onchange="this.form.submit()" id='filter'>
          <option value="">Размер <img src="/media/svg_files/arrow_down.svg" alt="arrow"></option>
          {% for size in sizes %}
            <option value="{{ size.id }}" {% if request.GET.size == size.id|stringformat:"s" %}selected{% endif %}>{{ size.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2 col-6">
        <select name="player_count" class="form-control filter-select" onchange="this.form.submit()" id='filter'>
          <option value="">Количество игроков <img src="/media/svg_files/arrow_down.svg" alt="arrow"></option>
          {% for player_count in player_counts %}
            <option value="{{ player_count.id }}" {% if request.GET.player_count == player_count.id|stringformat:"s" %}selected{% endif %}>{{ player_count.count }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Second row with 2 filters for mobile -->
    <div class="row mobile-filters-row-2 mt-2">
      <div class="col-md-2 col-6">
        <select name="player_age" class="form-control filter-select" onchange="this.form.submit()" id='filter'>
          <option value="">Возраст игроков <img src="/media/svg_files/arrow_down.svg" alt="arrow"></option>
          {% for player_age in player_ages %}
            <option value="{{ player_age.id }}" {% if request.GET.player_age == player_age.id|stringformat:"s" %}selected{% endif %}>{{ player_age.age }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2 col-6">
        <select name="game_type" class="form-control filter-select" onchange="this.form.submit()" id='filter'>
          <option value="">Вид игры <img src="/media/svg_files/arrow_down.svg" alt="arrow"></option>
          {% for game_type in game_types %}
            <option value="{{ game_type.id }}" {% if request.GET.game_type == game_type.id|stringformat:"s" %}selected{% endif %}>{{ game_type.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</form>
</div>
<div class="container-fluid game-catalog-grid mt-3">
    <div class="games-grid">
        {% for product in products %}
        <div class="game-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="game-image">
            <h3>{{ product.name }}</h3>
            <p class="product-price">{{ product.price|floatformat }} руб.</p>
            <a href="{% url 'product_detail' product.id %}">
                <button class="btn catalog-btn">ПОДРОБНЕЕ</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>


<div class="container-fluid game-catalog-grid mt-5 ">
<h2>ДОПОЛНИТЕЛЬНО</h2>
    <hr class="my-3">
    <div class="additional_product_grid">
        {% for additional_product in additional_products %}
        <div class="additional_product_card">
            <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="additional_product_image">
            <h3>{{ additional_product.name }}</h3>
            <p class="additional_product_price">{{ additional_product.price|floatformat }} руб.</p>
            <a href="{% url 'additional_product_detail' additional_product.id %}">
                <button class="btn catalog-btn">ПОДРОБНЕЕ</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}
