{% extends "base.html" %}
{% load static %}
{% include 'includes/modal_order.html' %}
{% block title %}{% if product %}{{ product.name }}{% else %}Игра{% endif %}{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/pages/product_detail.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/modal_order.html' %}
<div class="container-fluid product-detail-container" >
    <div class="row align-items-stretch"> {# Строки выравниваются по высоте #}
        {% with product_images=product.additional_images.all %}
            {% if product_images|length > 0 %}
            <div class="col-md-1 col-xl-1"> {# Колонка для доп. изображений #}
                <div class="d-flex flex-column gap-3">
                    {% for img in product_images %} 
<img src="{{ img.image.url }}" alt="Дополнительное изображение {{ img.id }}" class="additional-image">
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
        <div class="col-md-6 col-xl-6 no-growth"> {# Колонка для основного изображения #}
<img src="{% if product.image %}{{ product.image.url }}{% else %}#{% endif %}"
     alt="Основное изображение" class="main-image">
        </div>

        <div class="col-md-5 col-xl-5">
            <div>
<h5 class="product-title">{{ product.name }}</h5>
                <p>{{ product.description | safe }}</p>

                <hr class="my-3">

                <h6>КОМПЛЕКТ</h6>
                <div class="kit-container">
                    {% for item in product.game_kit_items.all %}
                    <div class="kit-item">
                        <div class="kit-content">
                            <span class="highlighted-text">{{ item.highlighted_text }}</span>
                            <span class="normal-text">{{ item.normal_text }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <hr class="my-3">

                <h6>МАТЕРИАЛ</h6>
                <ul class="list-unstyled ps-0 small text-body-secondary">
                    <li><span class="me-2">•</span>Натуральное дерево твердых пород.</li>
                    <li><span class="me-2">•</span>Ручная работа.</li>
                    <li><span class="me-2">•</span>Гипоаллергенное покрытие (высококачественные масла, воск и пропитки).</li>
                </ul>

                <hr class="my-3">

                <div class="d-flex justify-content-between align-items-center">
                    <h6 class='price'>{{ product.price| floatformat }} руб.</h6>
<button data-bs-toggle="modal" data-bs-target="#orderModal" type="button" class="btn order-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3 mt-2 ">
<a href="#gameRulesCollapse" role="button" aria-expanded="false" aria-controls="gameRulesCollapse" onclick="toggleBlock('gameRulesCollapse', event)" class="collapse-link">
    Правила игры <img src="/media/svg_files/arrow_down.svg" alt="arrow">
</a>
<a href="#additionalInfoCollapse" role="button" aria-expanded="false" aria-controls="additionalInfoCollapse" onclick="toggleBlock('additionalInfoCollapse', event)" class="collapse-link">
    Дополнительно <img src="/media/svg_files/arrow_down.svg" alt="arrow">
</a>
    </div>

<div class="custom-collapse" id="gameRulesCollapse">
    <p class="mt-3 fs-6">{% autoescape off %}{{ product.game_rules }}{% endautoescape %}</p>
</div>
<div class="custom-collapse" id="additionalInfoCollapse">
    <p class="mt-3 fs-6">{% autoescape off %}{{ product.additional_info }}{% endautoescape %}</p>
</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid product-related mt-5">
    <h2 >СМОТРИТЕ ТАКЖЕ</h2>
    <hr class="my-3">
    <div class="games-grid">
        {% for random_product in random_products %}
        <div class="game-card">
            <img src="{{  random_product.image.url }}" alt="{{ random_product.name }}" class="game-image">
            <h3>{{ random_product.name }}</h3>
<p class="product-price">{{ random_product.price|floatformat }} руб.</p>
            {% comment %} кнопка с ссылкой на подробнее о товаре {% endcomment %}
            <a href="{% url 'product_detail' random_product.id %}">
<button class="btn detail-btn">ПОДРОБНЕЕ</button>
            </a>  
        </div>
        {% endfor %}
    </div>
</div>  

<div class="container-fluid game-catalog-grid mt-5 ">
<h2>В КОМПЛЕКТ</h2>
    <hr class="my-3">
    <div class="additional_product_grid">
        {% for additional_product in additional_products %}
        <div class="additional_product_card">
            <img src="{{ additional_product.image.url }}" alt="{{ additional_product.name }}" class="additional_product_image">
            <h3>{{ additional_product.name }}</h3>
            <p class="additional_product_price">{{ additional_product.price|floatformat }} руб.</p>
            <a href="{% url 'additional_product_detail' additional_product.id %}">
                <button class="btn detail-btn">ПОДРОБНЕЕ</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}

{% block scripts %}
<script>
function toggleBlock(blockId, event) {
    if (event) {
        event.preventDefault();
    }

    const targetBlock = document.getElementById(blockId);
    const isCurrentlyVisible = targetBlock.classList.contains('show');
    const link = event.target.closest('a');
    const scrollPosition = window.pageYOffset;

    // Закрываем все блоки
    document.querySelectorAll('.custom-collapse').forEach(block => {
        block.classList.remove('show');
    });

    // Удаляем класс active у всех ссылок
    document.querySelectorAll('.collapse-link').forEach(l => {
        l.classList.remove('active');
    });

    // Если текущий блок не был виден, открываем его
    if (!isCurrentlyVisible) {
        targetBlock.classList.add('show');
        link.classList.add('active');
    }

    window.scrollTo(0, scrollPosition);
}
</script>


{% endblock scripts %}
