{% extends "base.html" %}
{% load static %}
{% include 'includes/modal_order.html' %}
{% block title %}{% if product %}{{ product.name }}{% else %}Игра{% endif %}{% endblock title %}
{% block stylesheets %}
    <style>
        .custom-collapse {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
        }

            .custom-collapse.show {
                max-height: 500px; /* или другое значение, которое подойдет для вашего контента */
            }
        p {
            color: white !important;
            font-family: 'Unbounded', sans-serif !important;
            font-size: 16px !important;
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }
        li {
            color: white !important;
            font-family: 'Unbounded', sans-serif !important;
            font-size: 16px !important;
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }
        hr {
            color: #F88005 !important;
            height: 2px !important;
        }
        h6 {
            font-family: 'Unbounded', sans-serif !important;
            color: white !important;
            font-size: 30px !important;
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }
        p1 {
            color: white !important;
            font-family: 'Unbounded', sans-serif !important;
            font-size: 16px !important;
            margin-bottom: 10px !important;
            margin-top: 10px
        }
        #pd {
            color: white !important;
            font-family: 'Unbounded', sans-serif !important;
            font-size: 26px !important;
            margin-bottom: 10px !important;
            margin-top: 20px
        }
        p2 {
            color: white !important;
            font-family: 'Mont', sans-serif !important;
            font-size: 25px !important;
            font-weight: 500;
            margin-left: 20px;
        }
        #pd-button:hover {
            color: white !important;
        }
    </style>
{% endblock %}

{% block content %}
{% include 'includes/modal_order.html' %}
<div class="container my-5 " style="max-width: 1600px;" >
    <div class="row align-items-stretch "> {# Строки выравниваются по высоте #}
        {% if product.additional_images.all|length > 0 %}
            <div class="col-md-2"> {# Колонка для доп. изображений #}
                <div class="d-flex flex-column gap-3">
                    {% for img in product.additional_images.all %}
                        <img src="{{ img.image.url }}" alt="Дополнительное изображение {{ img.id }}" style='border-radius: 21px; width: 140px; height: 138px; object-fit: cover'>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="col-md-8 col-xl-6"> {# Колонка для основного изображения #}
            <img src="{% if product.image %}{{ product.image.url }}{% else %}#{% endif %}"
                 alt="Основное изображение" style="border-radius: 31px; width: 100%; margin-left: -80px; height: 750px;">
        </div>

        <div class="col-md-12 col-xl-4"> {# Колонка для описания и информации #}
            <div>
                <h5 style="color: #F88005; font-family: 'Unbounded', sans-serif; font-weight: 400; font-size: 40px;">{{ product.name }}</h5>
                <p>{{ product.description | safe }}</p>

                <hr class="my-3">

                <h6>КОМПЛЕКТ</h6>
                <p>{{ product.game_kit | default:"Нет данных" }}</p>

                <hr class="my-3">

                <h6>КОЛИЧЕСТВО ИГРОКОВ</h6>
                <p>{{ product.player_counts.all|join:" - " }}</p>

                <hr class="my-3">

                <h6>МАТЕРИАЛ</h6>
                <ul class="list-unstyled ps-0 small text-body-secondary">
                    <li><span class="me-2">•</span>Натуральное дерево твердых пород.</li>
                    <li><span class="me-2">•</span>Ручная работа.</li>
                    <li><span class="me-2">•</span>Гипоаллергенное покрытие (высококачественные масла, воск и пропитки).</li>
                </ul>

                <hr class="my-3">

                <div class="d-flex justify-content-between align-items-center">
                    <h6>ЦЕНА: {{ product.price| floatformat }} руб.</h6>
                    <button data-bs-toggle="modal" data-bs-target="#orderModal" type="button" id='pd-button' style="background: #F88005; color: black; border-radius: 15px; font-family: 'Unbounded', sans-serif; font-weight: 500; font-size: 25px;">Заказать</button>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
    <a href="#gameRulesCollapse" role="button" aria-expanded="false" aria-controls="gameRulesCollapse" onclick="toggleBlock('gameRulesCollapse')" id='pd'>
        Правила игры 
    </a>
    <a href="#additionalInfoCollapse" role="button" aria-expanded="false" aria-controls="additionalInfoCollapse" onclick="toggleBlock('additionalInfoCollapse')" id='pd'>
        Дополнительно 
    </a>
    </div>

<div class="custom-collapse" id="gameRulesCollapse">
    <p class="mt-3 fs-6">{% autoescape off %}{{ product.game_rules }}{% endautoescape %}</p>
</div>
<div class="custom-collapse" id="additionalInfoCollapse">
    <p class="mt-3 fs-6">{% autoescape off %}{{ product.additional_info }}{% endautoescape %}</p>
</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="max-width: 1800px;">
    <h2 >СМОТРИТЕ ТАКЖЕ</h2>
    <hr class="my-3">
    <div class="games-grid">
        {% for random_product in random_products %}
        <div class="game-card">
            <img src="{{  random_product.image.url }}" alt="{{ random_product.name }}" class="game-image">
            <h3>{{ random_product.name }}</h3>
            <p2>{{ random_product.price|floatformat }} руб.</p2>
            {% comment %} кнопка с ссылкой на подробнее о товаре {% endcomment %}
            <a href="{% url 'product_detail' random_product.id %}">
            <button style='background: #F88005; font-family: "Unbounded", sans-serif; font-weight: 500; font-size: 16px; margin-left: 18px; margin-top:10px;'> Подробнее</button>
            </a>  
        </div>
        {% endfor %}
    </div>
</div>  



<script>
    function toggleBlock(blockId) {
        const targetBlock = document.getElementById(blockId);
        const isCurrentlyVisible = targetBlock.classList.contains('show');

        // Закрываем оба блока
        document.getElementById("gameRulesCollapse").classList.remove('show');
        document.getElementById("additionalInfoCollapse").classList.remove('show');

        // Если текущий блок не был виден, открываем его
        if (!isCurrentlyVisible) {
            targetBlock.classList.add('show');
        }
    }
</script>


{% endblock %}