{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/components/scroll_button.css' %}">
{% endblock stylesheets %}
{% block content %}
<button id="scrollToTopBtn">↑</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const scrollButton = document.getElementById('scrollToTopBtn');
        
        window.onscroll = function () { showScrollButton(); };

        function showScrollButton() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                scrollButton.style.display = 'block';
            } else {
                scrollButton.style.display = 'none';
            }
        }

        scrollButton.onclick = function () {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    });
</script>

{% endblock content %}
